.wmp-tool-button{
    display: table-cell;
    width: 38px;
    text-align: center;
    height: 36px;
    vertical-align: middle;
    padding-right: 4px;
    margin-bottom: -4px;
}

.material-icons.md-29 { 
    font-size: 29px;
    padding-top: 2px;
}

.light-grey-to-white { 
    color: #e4e5e8; 
}
.light-grey-to-white:hover { 
    color: rgba(255, 255, 255, 1); 
}