.wmp-tool-button{
    display: table-cell;
    width: 38px;
    text-align: center;
    height: 36px;
    vertical-align: middle;
    padding-right: 4px;
}

.logo-padding-small { 
    padding-bottom: 1px;
}

.logo-padding-medium { 
    padding-bottom: 2px;
}

.logo-padding-big { 
    padding-top: 5px; 
}

svg:hover .wmp-tool-button-logo{
    fill: white;
}

.light-grey-to-white { 
    color: #e4e5e8; 
}
.light-grey-to-white:hover { 
    color: rgba(255, 255, 255, 1); 
}